services:
  backend:
    build: .
    env_file: .env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ../geocodev-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
